:root {
  --main-text-color: #212121;
  --other-text-color: #757575;
  --title-text-color: #ffffff;
}

h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  font-family: "Roboto", Times;
  color: var(--main-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ------------------HEADER------------------ */

.header {
  border: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-span {
  color: #000;
}

.header-list {
  display: flex;
  gap: 50px;
}

/* .header-item:not(:last-child) {
  margin-right: 50px;
} */

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/* .header-e-mail-div {
  display: flex;
  align-items: center;

  margin-left: auto;
  margin-right: 30px;  
} */

.header-e-mail,
.header-tel {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--other-text-color);
}

.header-envelope {
  display: block;
  margin-right: 10px;

  width: 16px;
  height: 12px;

  fill: #757575;
}

.header-smartphone {
  display: block;
  margin-right: 10px;

  width: 10px;
  height: 16px;

  fill: #757575;
}

.header-e-mail {
  margin-left: auto;
  margin-right: 30px;
}

.header-link:hover,
.header-link:focus,
.header-e-mail:hover,
.header-e-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: #2196f3;
}

.header-e-mail:hover > svg,
.header-e-mail:focus > svg,
.header-tel:hover > svg,
.header-tel:focus > svg {
  fill: #2196f3;
}

/* ------------------HERO------------------ */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #212121;
}

.hero-div {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;  

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.hero-btn {
  display: inline-block;
  font-family: inherit;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--title-text-color);
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}

.hero-under-top-section {
  padding-top: 94px;
}

.hero-under-top-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* .hero-under-top-item:not(:last-child) {
margin-right: 30px;
} */

.under-hero-div {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.under-hero-icon {
  /* display: inline-block; */
  width: 70px;
  height: 70px;
  margin-top: 25px;
  margin-left: 100px;
}

.hero-under-top-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.hero-under-top-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--other-text-color);
}

.hero-midle-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.hero-midle-list {
  display: flex;
  gap: 30px;
}

/* .hero-midle-item:not(:last-child) {
  margin-right: 30px;
} */

.hero-down-section {
  background: #f5f4fa;
}

.hero-down-div {
  background-color: #ffffff;
}

.hero-down-top-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.hero-down-list {
  display: flex;
  gap: 30px;
}

/* .hero-down-item:not(:last-child) {
  margin-right: 30px;
} */

.hero-down-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.hero-down-img {
  display: block;
}

.hero-down-div {
  padding-top: 30px;
  padding-bottom: 30px;
}

.hero-down-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.hero-down-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--other-text-color);
}

/* -----------SOCIAL----------- */

.social-item {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.social-list:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
}

.hero-down-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-link:hover > svg,
.social-link:focus > svg {
  fill: #ffffff;
}

/* ---------CLAENTS------------- */

.claents-title {
  margin-bottom: 50 px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.666;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

.claents-list {
  margin-top: 30px;
  display: flex;
}

.claents-item:not(:last-child) {
  margin-right: 30px;
}

.claents-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.claents-icon {
  display: block;
  width: 106px;
  height: 60px;

  fill: #afb1b8;
}

.claents-link:hover,
.claents-link:focus {
  border: 1px solid #2196f3;
}

.claents-link:hover > svg,
.claents-link:focus > svg {
  fill: #2196f3;
}

/* ------------FOOTER---------------- */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-div {
  display: inline-block;
  margin-right: 70px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-div-ul {
  display: inline-block;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-item {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.footer-list:not(:last-child) {
  margin-right: 10px;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #2196f3;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-address {
  font-style: normal;
}

.footer-span {
  color: #ffffff;
}

.footer-text {
  margin-top: 20px;
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.footer-tel,
.footer-e-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-div {
  margin-top: 9px;
}

/* ------------PORTFOLIO---------------- */

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

/* .portfolio-item:not(:last-child) {
  margin-right: 8px;
} */

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--title-text-color);
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn {
  display: inline-block;
  font-family: inherit;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: transparent;
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.examples-item {
  width: 370px;
  gap: 30px;
  border: 1px solid #eeeeee;
}

.examples-item:hover,
.examples-item:focus {
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .examples-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.examples-item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
} */

.examples-div {
  padding: 20px 24px;
}

.examples-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.examples-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--other-text-color);
}
